# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Laravel
/vendor
.env
.env.*
!.env.example
storage/app/public
storage/debugbar
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
Homestead.json
Homestead.yaml

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
